<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Employee DB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Add Employee</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/view">View Employee</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/searchEmployee">Search employee</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/deleteEmp">Delete Employee</a>
                      </li>
              </ul>
            </div>
          </nav>
    <!-- form -->
    <div class="container px-5 py-5 mx-5 my-5">
            <form action="/find" method="POST">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Name</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" name="name">
                  </div>
                </div>
                  <button type="reset" class="btn btn-warning btn-lg">Reset</button>
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </form>
    </div>
   
</body>
</html>